﻿@{
	ViewBag.Title = "Home Page";
}

<script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Scripts/lodash.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>

<style>
	th, td {
		padding: 5px; /*due to cellpadding removal in HTML5*/
	}
</style>

<!--Some training (not a homework task)-->

<h2>Tasks (<span data-bind="text: tasks().length"></span>)</h2>
<ul data-bind="foreach: tasks">
	<li>
		<input data-bind="value: title" />
		<button data-bind="click: Remove">Remove</button>
		<label><input type="checkbox" data-bind="checked: isDone" /> Is Done</label>
	</li>
</ul>

Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
<button data-bind="click: AddTask, enable: tasks().length < 5">Add task</button>

<p></p>
<p data-bind="visible: tasks().length >= 5">Max tasks count!</p>
You have <b data-bind="text: incompleteTasks().length"></b> incomplete task(s)
<span data-bind="visible: incompleteTasks().length == 0"> - it's beer time!</span>

<!--Homework task-->

<h3>Data table</h3>
<button data-bind="click: RecieveData">Recieve Data</button>
<p></p>

<table data-bind="foreach: data" border="1">
	<thead>
		<tr><td>Id</td><td>Title</td><td>DateCreated</td></tr>
	</thead>
	<tbody>
		<tr data-bind="doubleClick: $parent.ShowAlert, itemId: Id">
			<td data-bind="text: Id"></td>
			<td data-bind="text: Title"></td>
			<td data-bind="text: _.toUpper(moment(DateCreated).add(3, 'day').format('LLLL'))"></td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">
	ko.bindingHandlers.doubleClick = {
		init: function (element, valueAccessor, allBindings) {
			var handler = valueAccessor(),
				delay = 200,
				clickTimeout = false;

			$(element).click(function () {
				if (clickTimeout !== false) {
					clearTimeout(clickTimeout);
					clickTimeout = false;
					var id = allBindings.get('itemId');
					handler(id);
				} else {
					clickTimeout = setTimeout(function () {
						clickTimeout = false;
					}, delay);
				}
			});
		}
	};

	class SomeFakeData {
		constructor(Id, Title, DateCreated) {
			this.Id = ko.observable(Id);
			this.Title = ko.observable(Title);
			this.DateCreated = ko.observable(DateCreated);
		}
	}

	class Task {
		constructor(title, isDone) {
			this.title = ko.observable(title);
			this.isDone = ko.observable(isDone);
		}
		Remove() {
			vm.tasks.remove(this);
		};
	}

	class ViewModel {
		constructor() {
			this.tasks = ko.observableArray([new Task("Task1", false), new Task("Task2", true)]);
			this.newTaskText = ko.observable();
			this.incompleteTasks = ko.computed(() => {
				return ko.utils.arrayFilter(this.tasks(), function (task) { return !task.isDone() });
			}, this);

			this.data = ko.observableArray([]);
		}

		AddTask() {
			this.tasks.push(new Task(this.newTaskText(), false));
			this.newTaskText("");
		};

		RecieveData() {
			$.getJSON("api/SomeFakeData", (data) => {
				this.data(data);
			});
		};

		ShowAlert(message) {
			alert(message);
		};
	};

	var vm = new ViewModel();

	ko.applyBindings(vm);
</script>