<h2>Data Table component</h2>
<button (click)="GetData()">Recieve data</button>
<p></p>
<div  *ngIf="data.length">
    <table border="1" cellpadding="10" align="center">
        <thead>
            <tr><td>Id</td><td>Фамилия</td><td>Имя</td><td>Отчество</td><td>Телефон</td><td>Email</td></tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.Id}}</td>
                <td><input [(ngModel)]="row.LastName" placeholder="LastName"/></td>
                <td><input [(ngModel)]="row.FirstName" placeholder="FirstName"/></td>
                <td><input [(ngModel)]="row.MiddleName" placeholder="MiddleName"/></td>
                <td><input [(ngModel)]="row.Phone" placeholder="Phone"/></td>
                <td><input [(ngModel)]="row.Email" placeholder="Email"/></td>
            </tr>
        </tbody>
    </table>
    <button (click)="SaveData()">Save</button>
</div>