<h2>Data Table component</h2>
<button (click)="GetData()">Recieve data</button>
<p></p>
<table border="1" cellpadding="10" align="center" *ngIf="data.length">
    <tr>
        <td>Id</td><td>Title</td><td>DateCreated</td>
    </tr>
    <tr *ngFor="let row of data">
        <td>{{row.Id}}</td><td>{{row.Title}}</td><td>{{row.DateCreated  | date:"dd.MM.yy"}}</td>
    </tr>
</table>